////General style of the section content
#content {
    background-color: $darkGrey;
    position: relative;
    padding-top: 300px;
    //*Spotlight
    .spotlight {
      background-image: url("../images/jumbotron.jpg");
      background-position: top center;
      height: 300px;
      position: absolute;
      top: 0;
    }
    //* Comics container style
    .comics-container ul {
      margin-top: 10px;
      li {
        flex-basis: calc(1200px / 6);
        a {
          color: $white;
          &:hover {
            text-decoration: underline;
          }
          .card {
            margin-bottom: 50px;
            margin-right: 20px;
            .title-comic {
              font-size: 14px;
              margin-top: 10px;
            }
            .img-comic-container {
              height: 200px;
              width: 100%;
              overflow: hidden;
              .img-comic {
                width: 100%;
                height: 340px;
              }

            }
            
          }
        }
      }
    }
}

////Button style
//* Load more button
.btn-content {
    button {
      background-color: $blue;
      color: $white;
      font-weight: bold;
      font-size: 12px;
      border: 0;
      padding: 10px 60px;
      margin: 20px;
      &:hover {
        background-color: $white;
        color: $blue;
      }
    }
  }
  //* Current series button
  .btn-series {
    position: relative;
    top: -20px;
    left: -20px;
    background-color: $blue;
    color: $white;
    font-weight: bold;
    font-size: 20px;
    border: 0;
    padding: 10px 30px;
    &:hover {
      transform: scale(1.1);
    }
}

#panel-content {
    background-color: $blue;
    //* List style
    ul {
      height: 16vh;
      //* List items style
      li a {
        display: flex;
        align-items: center;
        text-transform: uppercase;
        color: $white;
        font-size: 14px;
        &:hover {
          transform: scale(1.1);
          text-shadow: 0 0 6px $white;
        }
        img {
          width: auto;
          height: 50px;
          margin-right: 10px;
        }
      }
    }
}
//// Icons style
img {
    width: auto;
    height: 50px;
    margin-right: 10px;
  }
  #icon-4 {
    width: 48px;
  }

  //// Comic card style
.card {
    margin-bottom: 50px;
    margin-right: 20px;
    .title-comic {
      font-size: 14px;
      margin-top: 10px;
    }
    .img-comic {
      height: 180px;
      overflow: hidden;
    }
  }