* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Work Sans", sans-serif;
}

.container {
  width: 1200px;
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 100vh;
}

img {
  max-width: 100%;
  height: auto;
}

ul li {
  list-style-type: none;
}
ul li a {
  text-decoration: none;
}

.clickable {
  cursor: pointer;
}

.w-100 {
  width: 100%;
}

.uppercase {
  text-transform: uppercase;
}

.d-flex {
  display: flex;
}

.f-wrap {
  flex-wrap: wrap;
}

.j-content-between {
  justify-content: space-between;
}

.j-content-center {
  justify-content: center;
}

.j-content-around {
  justify-content: space-around;
}

.j-content-evenly {
  justify-content: space-evenly;
}

.a-items-center {
  align-items: center;
}

.bg-style {
  background-size: cover;
  background-repeat: no-repeat;
}

.active {
  color: #0476f2;
  border-bottom: 1px solid #0476f2;
}

.light-green {
  color: #96e996;
}

.bg-grey {
  background-color: #dadada;
}

.b-1 {
  border: 1px solid #adadad;
}

header {
  height: 12vh;
}
header #logo {
  width: 70px;
  min-height: 70px;
}
header li a {
  padding: 10px;
  color: black;
  font-size: 14px;
  font-weight: 600;
}
header li a:hover {
  color: #0476f2;
  border-bottom: 1px solid #0476f2;
}

.spotlight {
  background-image: url("../images/jumbotron.jpg");
  background-position: top center;
  height: 300px;
}

#top-footer {
  height: 45vh;
  background-image: url("../images/footer-bg.jpg");
  background-position: top;
}
#top-footer .container .logo-bg {
  height: 45vh;
  width: 600px;
  background-image: url("../images/dc-logo-bg.png");
  background-repeat: no-repeat;
  background-position: center;
}
#top-footer .row .col {
  margin-top: 40px;
  margin-right: 30px;
}
#top-footer .row .col h4 {
  margin: 10px 0;
}
#top-footer .row .col h4 a {
  text-decoration: none;
  text-transform: uppercase;
  font-size: 22px;
  color: white;
}
#top-footer .row ul li a {
  font-size: 14px;
  color: #959595;
}
#top-footer .row ul li a:hover {
  color: #0476f2;
}

#bottom-footer {
  background-color: #303030;
}

.social-section {
  height: 12vh;
}
.social-section span a {
  text-transform: uppercase;
  text-decoration: none;
  color: #0476f2;
  font-weight: bold;
  padding: 0 25px;
}
.social-section span a:hover {
  text-shadow: 0 0 2px #0476f2;
}

a img {
  max-height: 30px;
  width: 28px;
  margin: 0 6px;
}
a img:hover {
  transform: scale(1.1);
}

#bottom-footer button {
  border-radius: 0;
  border: 1px solid #0476f2;
  padding: 12px 10px;
  background-color: #303030;
}
#bottom-footer button a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-weight: bolder;
}
#bottom-footer button:hover {
  background-color: #0476f2;
}

#content {
  background-color: #1c1c1c;
  position: relative;
}
#content .comics-container ul {
  margin-top: 10px;
}
#content .comics-container ul li {
  flex-basis: 200px;
}
#content .comics-container ul li a {
  color: white;
}
#content .comics-container ul li a:hover {
  text-decoration: underline;
}
#content .comics-container ul li a .card {
  margin-bottom: 50px;
  margin-right: 20px;
}
#content .comics-container ul li a .card .title-comic {
  font-size: 14px;
  margin-top: 10px;
}
#content .comics-container ul li a .card .img-comic-container {
  height: 200px;
  width: 100%;
  overflow: hidden;
}
#content .comics-container ul li a .card .img-comic-container .img-comic {
  width: 100%;
  min-height: 340px;
}

.btn-content button {
  background-color: #0476f2;
  color: white;
  font-weight: bold;
  font-size: 12px;
  border: 0;
  padding: 10px 60px;
  margin: 20px;
}
.btn-content button:hover {
  background-color: white;
  color: #0476f2;
}

.btn-series {
  position: relative;
  top: -20px;
  left: -20px;
  background-color: #0476f2;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border: 0;
  padding: 10px 30px;
}
.btn-series:hover {
  transform: scale(1.1);
}

#panel-content {
  background-color: #0476f2;
}
#panel-content ul {
  height: 16vh;
}
#panel-content ul li a {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: white;
  font-size: 14px;
}
#panel-content ul li a:hover {
  transform: scale(1.1);
  text-shadow: 0 0 6px white;
}
#panel-content ul li a img {
  width: auto;
  height: 50px;
  margin-right: 10px;
}

img {
  width: auto;
  height: 50px;
  margin-right: 10px;
}

#icon-4 {
  width: 48px;
}

.card {
  margin-bottom: 50px;
  margin-right: 20px;
}
.card .title-comic {
  font-size: 14px;
  margin-top: 10px;
}
.card .img-comic {
  height: 180px;
  overflow: hidden;
}

.details-comic {
  position: relative;
}
.details-comic .img-thumb {
  min-height: 200px;
  position: absolute;
  top: -160px;
}

.details-comic::before {
  content: "";
  display: inline-block;
  height: 50px;
  width: 100%;
  background-color: #0476f2;
}
.details-comic h1 {
  text-transform: uppercase;
  margin-top: 45px;
  margin-bottom: 20px;
}
.details-comic .info-price {
  display: flex;
  align-items: center;
  width: auto;
  height: 40px;
  justify-content: space-around;
  background-color: #51aa51;
  color: white;
}

.info-box {
  display: flex;
}
.info-box .details {
  flex-basis: 800px;
  margin-right: 40px;
}
.info-box .details .description {
  color: #6b6b6b;
  font-weight: 400;
  line-height: 20px;
  margin-top: 20px;
  margin-bottom: 50px;
}
.info-box .adv {
  flex-basis: 400px;
}
.info-box .adv h5 {
  font-weight: bold;
  font-size: 14px;
  color: #636363;
  position: relative;
  left: 100px;
  top: -60px;
}
.info-box .adv img {
  width: 220px;
  min-height: 200px;
  position: relative;
  top: -56px;
}

.info-comic {
  display: flex;
  justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 100px;
}
.info-comic h6 {
  font-size: 20px;
  color: #070730;
  padding-bottom: 20px;
  border-bottom: 1px solid #adadad;
}
.info-comic .talent {
  flex-basis: 50%;
  margin-right: 80px;
}
.info-comic .talent a {
  text-decoration: none;
  color: #0476f2;
}
.info-comic .talent .artists {
  display: flex;
  border-bottom: 1px solid #adadad;
  padding: 10px 0;
}
.info-comic .talent .artists .title-row {
  color: #3d3d3d;
}
.info-comic .talent .writers {
  display: flex;
  border-bottom: 1px solid #adadad;
  padding: 10px 0;
}
.info-comic .talent .writers .title-row {
  color: #3d3d3d;
}
.info-comic .specs {
  flex-basis: 50%;
}
.info-comic .specs .series, .info-comic .specs .price, .info-comic .specs .date {
  display: flex;
  border-bottom: 1px solid #adadad;
  padding: 10px 0;
}
.info-comic .specs .series a, .info-comic .specs .price a, .info-comic .specs .date a {
  text-decoration: none;
  color: #0476f2;
  text-transform: uppercase;
}